In [1]:
import pandas as pd
import os

os.chdir(r"D:\Cours\annee3\Prononciation\cnam-athon-pronunciation-main")

In [7]:
df = pd.read_csv(r"data\dictionary\1757_Buchanan-J.csv", delimiter=";", encoding="utf8")

In [8]:
df.head()

   nbSyll        pron origin warning remarques POS  lineId  pageId
0       3     aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1       2      ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2       3  ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3       3    ābăʹndon     F.     NaN       NaN  v.     5.0      19
4       4  ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19

In [9]:
# définir une fonction qui retourne quelque chose
def sizePron(strPron):
    #retourner le nombre de caractère de la prononciation
    
    return len(strPron)

In [11]:
df['sizePron'] = df.apply(lambda x: sizePron(x['pron']),1)

In [14]:
df.sample(5)

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,sizePron
10501,3,prēcŏnsīʹ_g_n,L.,NaN,NaN,v.,44.0,167,13
10655,3,prŏʹbable,NaN,NaN,NaN,a.,54.0,169,9
13485,1,ſwĭtch,NaN,NaN,NaN,n.,14.0,209,6
4445,2,ĕngrŏʹſs.,F.,NaN,NaN,v.,36.0,81,9
15221,4,ŭnwāʹvĕring,NaN,NaN,NaN,a.,31.0,233,11

In [16]:
pronChar = pd.read_csv(r"data\dictionary\Buchanan_PronChar_counts.csv", delimiter=";", encoding="utf8")

In [18]:
pronChar.sample(5)

   char   occ graph
12    e  8952     e
42    ̆   132     o
63    .    22   NaN
64    ô     4     o
35    ē   493     e

In [28]:
def transcrire(mot):
    cheminDuFichierCSV = r"data/dictionary/Buchanan_PronChar_counts.csv"
    pronchar = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")
    TruePron = []
    transfo = ''
    for lettre in mot:
        if (pronchar[pronchar['char']== lettre]['graph'].isnull().values[0]):
            transfo = ''
        else: transfo = pronchar[pronchar['char']== lettre]['graph'].values[0]
        TruePron.append(transfo)
    TruePron = ''.join(TruePron)
    return TruePron

In [29]:
df["transcription"] = df.apply(lambda x: transcrire(x['pron']),1)

In [30]:
df.sample(5)

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,sizePron,transcription
8823,1,mȯu̇nt,F.,NaN,NaN,n.,12.0,144,6,mouont
5705,2,globōʹſe,L.,NaN,NaN,a.,8.0,99,8,globose
15255,1,vōg_ue_,NaN,NaN,NaN,n.,65.0,233,7,vogue
255,4,ăffūʹſion,L.,NaN,NaN,n.,5.0,23,9,affusion
11476,3,rĕnăʹſcĕnt,L.,NaN,NaN,a.,20.0,181,10,renascent

In [31]:
#export en CSV pour conserver la colonne et l'utiliser plus tard
df.to_csv(r"data/dictionary/Buchanan_enrichi.csv",index=False)